<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indicates that the hello.py file is a Python script -->
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" 
           scriptProcessor="D:\Python\python.exe|D:\Python\Scripts\wfastcgi.py" 
           resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    
    <!-- Python FastCGI configuration -->
    <fastCgi>
      <application fullPath="D:\Python\python.exe" 
                   arguments="D:\Python\Scripts\wfastcgi.py">
        <environmentVariables>
          <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot"/>
          <environmentVariable name="WSGI_HANDLER" value="startup.app"/>
          <environmentVariable name="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log"/>
        </environmentVariables>
      </application>
    </fastCgi>
    
    <!-- Static file handling -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    
    <!-- Error pages -->
    <httpErrors errorMode="Detailed"/>
    
    <!-- URL rewriting rules -->
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^(?:static|uploads)/.*" />
          <action type="None" />
        </rule>
        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="startup.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
